.payment{
    display: flex;
    flex-direction: row;
    background-color: #F1F3F4;

    /*border-left-style: solid;*/
	/*border-left-color: #0B6D99;*/
	/*border-left-width: 1px;*/
    justify-content: center;
    align-items: center;
    /*padding-left: 2px;*/
    /*padding-right: 2px;*/
    /*align-self: end;*/
    cursor: default;

}

.payment-text{
    font-size: 13px;
    color: #606975;
    font-weight: 600;

}

.payment-data {
    position: absolute;
    z-index: 1;
    background-color: white;
}