.header-top{
    display: flex;
    justify-content: space-between;
    height: 40px;
    background-color: #F1F3F4;
    border-style: solid;
	border-color: #0B6D99;
	border-width: 1px;


}

.header-top-left{
    display: flex;

}

.header-top-right{
    display: flex;


}