.search-form{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #F1F3F4;
    border-radius: 4px;
    border-style: solid;
	border-color: #0B6D99;
	border-width: 1px;
    justify-content: center;
    align-items: center;
    height: 44px;


}

.intput-wrapper{
    display: flex;
    border-radius: 4px;
    height: 100%;
}

.intput-search{
    background-color: #F1F3F4;
    border-radius: 4px;
    height: 100%;
    border: none;
    outline: none;
    cursor: text;
    color: #0B6D99;
    padding-left: 3px;
    width: 100%;
    padding-right: 3px;
    font-weight: 600;
    font-size: 14px;



}

.intput-search::-webkit-input-placeholder {font-size: 12px; font-weight: 400;}

.intput-search::-webkit-input-placeholder       {text-indent: 0px;   transition: text-indent 0.5s ease;}
.intput-search::-moz-placeholder                {text-indent: 0px;   transition: text-indent 0.5s ease;}
.intput-search:-moz-placeholder                 {text-indent: 0px;   transition: text-indent 0.5s ease;}
.intput-search:-ms-input-placeholder            {text-indent: 0px;   transition: text-indent 0.5s ease;}
.intput-search:focus::-webkit-input-placeholder {text-indent: 500px; transition: text-indent 0.5s ease;}
.intput-search:focus::-moz-placeholder          {text-indent: 500px; transition: text-indent 0.5s ease;}
.intput-search:focus:-moz-placeholder           {text-indent: 500px; transition: text-indent 0.5s ease;}
.intput-search:focus:-ms-input-placeholder      {text-indent: 500px; transition: text-indent 0.5s ease;}





.intput-search:hover{
    border: none;

    /*background: transparent;*/
    /*border-style: solid;*/
    /*border-color: #0B6D99;*/
    /*border-width: 1px;*/
    /*height: 44px;*/
    /*border-radius: 22px;*/
}



input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px #F1F3F4 inset; /* можно изменить на любой вариант цвета */
    -webkit-text-fill-color: #0B6D99;


}
/*.search-submit{*/

/*}*/

.my-search{
    border-left-style: solid;
    border-width: 1px;
    border-left-color: #0B6D99 ;
    border-radius:  0px 4px 4px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    min-width: 42px;
    height: 100%;
    /*margin-left: -36px;*/
    /*z-index: 1;*/
}




.fa-search{
    size: ledger;

}

