.header-main{
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    background: #0B6D99;
}

.header-main-right{
    display: flex;
}

.header-main-left{
    display: flex;
    align-items: center;

}